.rounded-top-right {
    border-top-right-radius: 4px;
}

.rounded-top-left {
    border-top-left-radius: 4px;
}

.rounded-bottom-right {
    border-bottom-right-radius: 4px;
}

.rounded-bottom-left {
    border-bottom-left-radius: 4px;
}

div.delete-btn {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.carousel-indicators,
.inverted {
    filter: invert(100%);
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    filter: opacity(0);
}